<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<title th:replace="fragments/fragment :: headerFragment('Add Car')"></title>
	<object th:include = "fragments/fragment :: css" th:remove = "tag"></object>
	<object th:include = "fragments/fragment :: js" th:remove = "tag"></object>
</head>

<body>
	<nav th:replace = "fragments/fragment :: navbar"></nav>
	
	<h2>Hello!</h2>
	
	<h3>Tambah Mobil</h3>
	<form th:action="@{'/car/add/' + ${deal.id}}" th:object="${deal}" method="POST">
		<input type = "hidden" th:field = "*{id}"/>
		
		<table>
			<thead>
				<tr>
					<th>Brand</th>
					<th>Type</th>
					<th>Price</th>
					<th>Amount</th>
					<th><button type = "submit" name = "addBaris">Add Row</button></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="car, rowCount : *{listCar}">
					<td><input type = "text" th:field = "*{listCar[__${rowCount.index}__].brand}"></td>
					<td><input type = "text" th:field = "*{listCar[__${rowCount.index}__].type}"></td>
					<td><input type = "number" th:field = "*{listCar[__${rowCount.index}__].price}"></td>
					<td><input type = "number" th:field = "*{listCar[__${rowCount.index}__].amount}"></td>
					<td><button type = "submit" name="removeBaris" th:value = "${rowCount.index}">Remove</button></td>
				</tr>
			</tbody>
		
		</table>
		<button type = "submit" name="save"> Submit </button>
		<!-- Brand:<br>
		<input type = "text" name = "brand"/>
		<br>
		Type:<br>
		<input type = "text" name = "type"/>
		<br>
		Price:<br>
		<input type = "number" name = "price"/>
		<br>
		Amount:<br>
		<input type = "number" name = "amount"/>
		<br><br>
		<button type = "submit">Submit</button> -->
	</form>
</body>

</html>